@import "_fonts";
@import "_nav";
@import "_reset";
@import "_text";
@import "_header";
@import "_slider";
@import "_vars";
@import "_products";
@import "_banner";
@import "_footer";

.header {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 3px;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  width: 100%;
  height: 800px;
}

.icon {


  border-radius: 50%;
  cursor: pointer;
  background-color: $green;
  position: relative;

  &-i {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(76, 177, 202);

  margin: 10px 0;
}


.links-list {
    display: flex;

    &-item {
      width: 40px;
      height: 40px;

      margin-right: 10px;
      
      &:first-child{
        margin-left: 3px;
      }

      &:last-child{
        margin-right: 0;
      }

      line-height: 40px;


      border-radius: 50%;
      background-color: #fff;
      text-align: center;

      &-img {
        width: 20px;
        height: 20px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: #4cb1ca;
      }

      
    }
  }